<div class="basic-page">
    <div class="container">
        <div class="page-title">
            <p class="text-small"><a href="/recruitment">Recruitment</a></p>
            <h1><a href="/recruitment/players">Players</a> &gt; {{ player.name }}</h1>
            <div class="sub-box"></div>
            <p class="mt-1 small text-primary">{{ player.region }}</p>
        </div>
    </div>

    <div class="container basic-content">
        <div class="row">
            {{ player.roles }}
            {{ player.contact_method }}
        </div>
    </div>
</div>