<div class="basic-page">
    <div class="container">
        <div class="page-title">
            <p class="mb-0 text-small text-white">
                <a href="/recruitment">Recruitment</a> &gt; <a href="/recruitment/players">Players</a>
            </p>
            <h1>{{ player.name }}-{{ player.server|capitalize }}</h1>
            <div class="sub-box"></div>
            <p class="mt-1 small text-primary">
                <a href="/recruitment/players?datacenters={{ player.datacenter }}">{{ player.datacenter|capitalize }}</a>
            </p>
        </div>
    </div>

    <div class="container basic-content">
        <div class="row">
            <div class="recruitment-profile col-lg-8">
                <h3 class="mb-1">{{ player.name }}'s Profile</h3>

                <hr>

                <h6>I play the following roles:</h6>
                <div class="mb-3">
                    {% for role in player.roles %}
                    <a href="/recruitment/players?roles={{ role }}">
                    <img class="recruitment-role-icon"
                         src="/plugins/cleanse/recruitment/assets/images/role-{{ role }}.png"></a>
                    {% endfor %}
                </div>

                <h6>Server (Datacenter):</h6>
                <p>
                    {{ player.server|capitalize }}
                    (<a href="/recruitment/players?datacenters={{ player.datacenter }}">
                    {{ player.datacenter|capitalize }}</a>)
                </p>

                <h6>Contact:</h6>
                <p>{{ player.contact_method|nl2br }}</p>

                <h6>About Me:</h6>
                <p>{{ player.profile|nl2br }}</p>
            </div>

            <div class="col-lg-4 side-bar">
                {% component 'cleanseRecruitmentReport' %}
            </div>
        </div>
    </div>
</div>