<div class="basic-page">
    <div class="container">
        <div class="page-title">
            <p class="mb-0 text-small text-white">
                <a href="/recruitment">Recruitment</a>
            </p>
            <h1>Manage Team</h1>
            <div class="sub-box"></div>
            <p class="mt-1 small text-primary">Edit a team profile so you may recruit others.</p>
        </div>
    </div>

    <div class="container basic-content">
        <div class="row">
            <div class="col-lg-8">
                {% partial __SELF__~'::update' %}
            </div>

            <div class="col-lg-4 side-bar">
                <h4>Welcome, {{ user.name }}</h4>
                <div class="sub-box mb-4"></div>
                {% if team.recruiting %}
                {% set r_status = 'warning' %}
                {% else %}
                {% set r_status = 'success' %}
                {% endif %}
                <p>If you have recruited a full roster, you may pause recruiting.</p>
                <button class="btn btn-outline-{{ r_status }} btn-block mb-3 pull-right"
                        data-request="onStopRecruiting"
                        data-request-data="team_id: {{ team.id }}"
                        data-request-confirm="Are you sure you want to change the recruitment status?">
                    {% if team.recruiting %}
                    Pause Recruiting
                    {% else %}
                    Start Recruiting
                    {% endif %}
                </button>

                <p>If you wish to delete your team, click the button below and accept the confirmation.</p>
                <button class="btn btn-outline-danger btn-block pull-right"
                        data-request="onDeleteTeam"
                        data-request-data="team_id: {{ team.id }}"
                        data-request-confirm="Are you sure you want to delete this team?">
                    Delete {{ team.name }}
                </button>
            </div>
        </div>
    </div>
</div>